<div class="header vert">
  <div class="container">
    
    <h1>Monalisa</h1>
      <p class="lead">HIJABS AND MORE</p>
      <div>&nbsp;</div>
      <%= link_to "Get Your Subscription Pack Today!", new_charge_path, class: "btn btn-default btn-lg" %>
  </div>

</div>

<div class="featurette" id="sec2">
  <div class="container">
    <h2> Visit us today!</h2>
    <ul>
      <li>Address: 2422 Ottawa Rd. Ottawa, ON</li>
      <li>Phone: 555 555-5555</li>
      <li>Email: monalisa@monalisa.com</li>
      <li>Hours: 9:30 am - 8:00 pm daily</li>
    </ul>
  </div>
</div>