<div class="container2">
<div class="jumbotron">
  <div class="container">
    <h1>Monalisa</h1>
      <p class="lead">HIJABS AND MORE</p>
      <div>&nbsp;</div>
      <h3>A package full of surprises at your door step every month</h3>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-4">
  </div>
  <div class="col-md-4 subscribe-button">
    <%= link_to "Get Your Subscription Pack Today!", new_customer_path, class: "btn btn-default btn-lg" %>
  </div>
  <div class="col-md-4">
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class= "circular circular-1">
    </div>
  </div>
  <div class="col-md-4">
    <div class= "circular circular-2">
    </div>
  </div>
  <div class="col-md-4">
    <div class= "circular circular-3">
    </div>
  </div>
</div>

  <div class="container">
    <h2> Visit us today!</h2>
    <ul>
      <li>Address: 2422 Jeffrey Rd, Los Angeles, CA</li>
      <li>Phone: 555 555-5555</li>
      <li>Email: monalisa@monalisa.com</li>
      <li>Hours: 9:30 am - 8:00 pm daily</li>
    </ul>
  </div>
</div>