// // Readable 3.3.4
// // Bootswatch
// // -----------------------------------------------------

// @import url("https://fonts.googleapis.com/css?family=Raleway:400,700");

// // Navbar =====================================================================

// .navbar {
//   font-family: $headings-font-family;

//   &-nav,
//   &-form {
//     margin-left: 0;
//     margin-right: 0;
//   }

//   &-nav > li > a {
//     $margin-vertical: (($navbar-height - 2*$padding-base-vertical - $line-height-computed - 2px) / 2);
//     margin: $margin-vertical 6px;
//     padding: $padding-base-vertical $padding-base-horizontal;
//     border: 1px solid transparent;
//     border-radius: $border-radius-base;

//     &:hover {
//       border: 1px solid #ddd;
//     }
//   }

//   &-nav > .active > a,
//   &-nav > .active > a:hover {
//     border: 1px solid #ddd;
//   }

//   &-default .navbar-nav > .active > a:hover {
//     color: $navbar-default-link-hover-color;
//   }

//   &-inverse .navbar-nav > .active > a:hover {
//     color: $navbar-inverse-link-hover-color;
//   }

//   &-brand {
//     padding-top: (($navbar-height - 2*$font-size-large) / 2);
//     padding-bottom: (($navbar-height - 2*$font-size-large) / 2);
//     line-height: 1.9;
//   }
// }

// @media (min-width: $grid-float-breakpoint) {
//   .navbar {
//     .navbar-nav > li > a {
//       padding: $padding-base-vertical $padding-base-horizontal;
//     }
//   }
// }

// @media (max-width: $grid-float-breakpoint - 1) {
//   .navbar {
//     .navbar-nav > li > a {
//       margin: 0;
//     }
//   }
// }

// // Buttons ====================================================================

// .btn {
//   font-family: $headings-font-family;
// }

// // Typography =================================================================

// // Tables =====================================================================

// // Forms ======================================================================

// legend {
//   font-family: $headings-font-family;
// }

// .input-group-addon {
//   font-family: $font-family-sans-serif;
// }

// // Navs =======================================================================

// .nav {
//   .open > a,
//   .open > a:hover,
//   .open > a:focus {
//     border: 1px solid #ddd;
//   }
// }

// .pagination {

//   font-family: $headings-font-family;

//   &-lg > li > a,
//   &-lg > li > span {
//     padding: 14px 24px;
//   }
// }

// .pager {

//   font-family: $headings-font-family;

//   a {
//     color: $text-color;
//   }

//   a:hover {
//     border-color: transparent;
//     color: #fff;
//   }

//   .disabled a {
//     border-color: $pager-border;
//   }
// }

// // Indicators =================================================================

// .close {
//   color: #fff;
//   text-decoration: none;
//   text-shadow: none;
//   opacity: 0.4;

//   &:hover,
//   &:focus {
//     color: #fff;
//     opacity: 1;
//   }
// }

// .alert {
//   .alert-link {
//     color: $alert-success-text;
//     text-decoration: underline;
//   }
// }

// .label {
//   font-family: $headings-font-family;
//   font-weight: normal;

//   &-default {
//     border: 1px solid #ddd;
//     color: $text-color;
//   }

// }

// .badge {
//   padding: 1px 7px 5px;
//   vertical-align: 2px;
//   font-family: $headings-font-family;
//   font-weight: normal;
// }

// // Progress bars ==============================================================

// // Containers =================================================================

// .panel {
//   @include box-shadow(none);

//   &-default {
//     .close {
//       color: $text-color;
//     }
//   }
// }

// .modal {
//   .close {
//     color: $text-color;
//   }
// }



body {
  background-color: #FFFFFF;
}
.jumbotron {
  background-image: image-url("scarves.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  width: 100%;
  margin: 0;
  border-radius: 0 !important;
  radius: 0;
  }
.row {
  background-color: #F2E6F2;
  // opacity: .5;
  // border-radius: 5px;
  // margin-top: 15px;
  // margin-bottom: 15px;
  padding-left: 100px;
  padding-right: 100px;
}

.navbar-default{
  background-color: #FFFFFF;
  margin-bottom: 0;
}


.circular {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  float: left;
  margin: 15px, 15px;
  }

.circular-1 {
  background: image-url("cosmetics.jpg");
  background-size: cover;
  background-position: center; 

  margin: 20px;
}

.circular-2 {
  background: image-url("scarve.jpg");
  background-size: cover;
  margin: 20px;
}

.circular-3 {
  background: image-url("shoes.jpg");
  background-size: cover;
  margin: 20px;
}

.navbar-brand {
  font: 400 25px/125% 'Pacifico', Helvetica, Sans-serif;
  color: #993399 !important;
  padding: 10px, 10px;
}

.white {
  margin-top: 15px;
  background-color: #F2E6F2;
  padding: 15px, 15px;
}

.container2 {
  width: 100%;
  margin-top: 0;
  padding: 0;
}

.headline {
  padding-top: 20px;
  text-align: center;
}

.jumbotron h3 {
  color: #F2E6F2;
}
.subscribe-button {
  margin: 5px;
}